<%- include("../partials/header") %>
<body id="show-body">
<%- include("../partials/body") %>
<div class="container pb-5">

  <div class="movie-data" id="header-movie-data">
        <div class="movie-title">
          <h2><%=movie.Title%></h2>
        </div>
          <p><%=movie.Runtime%> <span class="seperator">|</span> <%= movie.Genre%>  <span class="seperator">|</span>  <%=movie.Released%></p>   
  </div>
  <div class="movie-media">
        <img src="<%=movie.Poster%>">
        <iframe src="<%=movie.Trailer%>"
        width="560"  height="315" frameborder="0" ></iframe>        
  </div>
  <div class="movie-data">
          <p class="mb-3"><%=movie.Plot%></p>
          <p><span class="crew-names">Director:</span> <%=movie.Director%></p>
          <p><span class="crew-names">Writers:</span> <%=movie.Writers%></p>
          <p class="mb-4"><span class="crew-names">Cast:</span> <%=movie.Actors%><p>
            <hr>
          <div class="btn-group dropleft float-right">
                <button type="button" class="dropdown-toggle review_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Review
                </button>
                <div class="dropdown-menu" id="myDropdown">
                    <form class="px-4 py-3" method="POST" action="/movies/<%=movie.imdbID%>/reviews">
                      <div class="form-group">
                        <h4>My Review</h4>
                        <textarea name="review" id="review" cols="60" rows="10" placeholder="Text..."></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary float-left">Add Review</button>
                      <select class="star-rating" name="rating" data-options="{&quot;clearable&quot;:false, &quot;showText&quot;:false}">>
                        <option value="">Select a rating</option>
                        <option value="5">Excellent</option>
                        <option value="4">Very Good</option>
                        <option value="3">Average</option>
                        <option value="2">Poor</option>
                        <option value="1">Terrible</option>
                      </select>
                    </form>
                </div>
          </div>
           
  <div class="reviews">
    <h4 class="pb-4">Reviews</h4>
    <% if(movie.Reviews.length==0){%>
      <p>Looks like its empty here, write the first review!</p>
    <%}%>
    <% for(let i=0;i<movie.Reviews.length;i++){%>
      <div class="oneReview">
    <div class="reviewComment">
        <p>
            <strong><%=movie.Reviews[i].review.author.name%></strong> - <%=moment(movie.Reviews[i].review.date).fromNow()%>
            <%if(currentUser&&(movie.Reviews[i].review.author.username=currentUser.username)){%>
            <div class="dropdown">
              <div class="btn-group dropleft">  
                <button class="reviewDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="editReviewButton dropdown-item">Edit</a>
                    <form action="/movies/<%= movie.imdbID %>/reviews/<%=movie.Reviews[i].id%>?_method=DELETE" method="POST" >
                      <button class="submit button deleteReviewButton dropdown-item">Delete</button>
                    </form>
                    </div>
              </div>
          </div>
          <%}%>
        </p>
        <p class="reviewText"><%=movie.Reviews[i].review.text%></p>
        
        <p>
          <span class="stars"><%=movie.Reviews[i].review.rating%></span>
        </p>
    </div>
  <div class="reviewEdit hide">
    <form action="/movies/<%= movie.imdbID %>/reviews/<%=movie.Reviews[i].id%>?_method=PUT" method="POST">
      <textarea class="editText" name="edit" id="" cols="150" rows="5"></textarea>
      <hr>
      <button type="submit" class="btn btn-primary float-right">SAVE</button>
      <button type="button" class="cancelEditButton btn btn-light float-right">CANCEL</button>
    </form>
    
    
  </div>
  <hr>
    </div>
    <%}%>
    
  </div>
</div>



</div>

<%- include("../partials/footer") %>